$pageBackgroundColor: #faf8ef;
$pageColor: #776e65;
$boxColor: #bbada0;
$smallColor: #eee4da;
$btnBackgroundColor: #8f7a66;
$gameBackgroundColor: #bbada0;
$btnColor: #f9f6f2;
$borderColor: #d8d4d0;
$gameItemBackground: rgba(238, 228, 218, 0.35);

@import "reset";
@import "page";
@import "game";